<style type="text/css">
  .nav-item {
    z-index: 1000;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #E88F2A !important;
  }
</style>

<div class="container-fluid bg-dark bg-img p-5 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4 text-uppercase text-white">Menu &amp; Pricing</h1>
      <a href="">Home</a>
      <i class="far fa-square text-primary px-2"></i>
      <a href="">Menu &amp; Pricing</a>
    </div>
  </div>
</div>

<!-- menu&pricing section start -->

<div class="container-fluid py-5">
  <div class="container">
    <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
      <h2 class="text-primary font-secondary">Menu &amp; Pricing</h2>
      <h1 class="display-4 text-uppercase">Explore Our Cakes</h1>
    </div>
    <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
        <li class="nav-item">
          <a href="#tab-1" class="nav-link text-white active-tab p-2 tab-1" data-bs-toggle="pill" >Birthday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white p-2 tab-2" data-bs-toggle="pill" href="#tab-2">Wedding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white p-2 tab-3" data-bs-toggle="pill" href="#tab-3">Custom</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <!-- Birthday Cake tab section -->
      <div id="tab-1" class="tab-pane fade p-0 show tab-content-1 active">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Birthday Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Wedding cake tab section -->
      <div id="tab-2" class="tab-pane fade p-0 hide tab-content-2">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Wedding Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- custom cake tab section -->
      <div id="tab-3" class="tab-pane fade p-0 hide tab-content-3">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="img-fluid" src="/assets/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
              </div>
              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                <h5 class="text-uppercase">Custom Cake</h5>
                <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="text-center my-3">
    <%= link_to 'More Cakes', cakes_path , class: "bg-dark p-3 rounded border-inner text-white" %>
  </h2>
</div>
<!-- menu&pricing section end -->
