     <% @cakes.each do |cake| %>
       <div class="col-lg-6 col-md-12 col-xs-12 p-3">
          <div class="border border-dark">
            <h2 class="text-center">
              <%= link_to cake.name, class: 'category-title' %><br>
            </h2>
            <div class="mt-5 ml-4 d-flex">
              <p class="mb-0"> Description:</p>
              <%= link_to cake.description %>
            </div>
          </div>
        </div>
     <% end %>
     
    <% if current_user.admin? %>
     <%= link_to "Create", new_cake_path,  class:"btn btn-primary border-inner py-3 px-5 text-white"%>
    <% end %>
  </div>
</div>