/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";


.hero-header {
  background: url("hero.jpg") top right no-repeat;
   background-size: cover;
}
.navbar-nav>.nav-item>a:hover {
  color: #E88F2A !important;
}
.navbar-nav>.active-item>a{
  color:#E88F2A !important;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}
.bottom{
  display:block;
  position:fixed !important;
}
.about-section{
  color: #656565;
}
.service::after{
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 45px);
  top: 135px;
  left: 0;
  background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url("service.jpg") center center no-repeat;
  background-size: cover;
  z-index: -1;
}

.bg-offer{
  background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url("offer.jpg") center center no-repeat;
  background-size: cover;
}
.super{
    font-family: 'Pacifico', cursive;
    color: #E88F2A !important;
    font-weight: 700 !important;
    font-size: 2.5rem;
  }
  .btn-primary{
    color: #FFFFFF;
    background-color: #E88F2A;
    border-color: #E88F2A;
  }
  .btn-primary:hover{
    color: #000;
    background-color: #eda555;
    border-color: #ea9a3f;
  }
  .owl-dots{
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .owl-dot{
    position: relative;
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 25px;
    background: #DDDDDD;
    transition: .5s;
  }
  .testimonial-carousel .owl-item .testimonial-item {
    opacity: .1;
    transition: .5s;
  }
  a{
  color: #E88F2A;
    text-decoration: none;
  }
.section-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 10px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
 background-color: #E88F2A !important;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  left: 50%;
  bottom: 4px;
  margin-left: -90px;
  background-color: #E88F2A !important;
}
.team{
  margin-top: 130px !important;
}
.team-overlay{
 opacity: 0;
}
.team-item:hover .team-overlay {
  opacity: 1;
}
.team-item:hover img{
  transform: scale(1.1);
  filter: blur(4px);
}
.team-item img{
  transition: .5s;
}
.text-primary{
  color: #E88F2A !important;
}

.aboutheader{
  background: url("bg.jpg") top right no-repeat;
  background-size: cover;
}
.contact::after{
  position: absolute;
  content: "";
  background: url("bg.jpg") top right no-repeat;
  background-size: cover; 
  width: 100%;
  height: calc(100% - 45px);
  top: 135px;
  left: 0;
  z-index: -1;
}
.footer{
  margin-top:90px ;
}
.margin{
  margin-top:-3rem;
}
.scroll{
  position: sticky;
    top: 0;
    z-index: 1020;
}