/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";


.hero-header {
  background: url("hero.jpg") top right no-repeat;
   background-size: cover;
}
.service::after{
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 45px);
  top: 135px;
  left: 0;
  background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url("service.jpg") center center no-repeat;
  background-size: cover;
  z-index: -1;
}

.bg-offer{
  background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url("offer.jpg") center center no-repeat;
  background-size: cover;
}