<style type="text/css">
  .bg-secondary{
    background-color: #FAF3EB !important;
  }
  .bg-primary{
    background-color: #E88F2A !important;
  }
  .border-inner{
    position: relative;
  }
  .border-inner::before{
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: none;
    border: 1px solid white;
    z-index: 0;
  }
  .heading{
    font-weight: 700 !important;
  }
  .icons{
    color: #E88F2A !important;
  }
  span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #656565;
  }
  .bg-dark{
    background-color: #2B2825 !important;
  }
  .nav-item a{
    padding: 30px 15px;
    font-size: 18px !important;
    font-weight: 500;
    text-transform: uppercase;
    color: white !important;
    outline: none;
    transition: .5s;
  }
</style>


<!-- Navbar Start -->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mx-lg-auto py-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu & pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Master chef</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PAGES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="p-1"><a class="dropdown-item p-0" href="#">Our services</a></li>
            <li class="p-1"><a class="dropdown-item p-0" href="#">Testimonials</a></li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path,  class:"text-white nav-link"%>
        </li>
         <li class="nav-item">
          <%= link_to "Cakes", cakes_path,  class:"text-white nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Navbar end -->
